
* {
  box-sizing: border-box;
}

// body {
//   margin: 20px;
//   height: 100vh;
//   width: auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: teal;
//   // background-color: black;
// } 

main {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  background-color: teal;
}

h2 {
  padding-bottom: 30px;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 250px;
  height: 300px;
  background-color: rgb(8, 88, 88);
  background-color: black;
  gap: 5px;


  .cells {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: rgb(8, 88, 88);
    background-color: teal;
    font-size: 60px;
    font-family: "Permanent Marker", cursive;
    cursor: pointer;
  }
}

.scores {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding-top: 20px;
  width: 250px;

  .score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
}

.buttons {
  
.restart-button {
  font-size: 15px;
  width: 120px;
  height: 40px;
  border: none;
  background-color: lightblue;
  color: black;
  font-size: 18px;
  cursor: pointer;
}

.restart-button:active {
  font-size: 22px;
  color: red;
}

.playAgain {
  font-size: 15px;
  width: 120px;
  height: 40px;
  border: none;
  background-color: lightblue;
  color: black;
  font-size: 18px;
  cursor: pointer;
}

.playAgain:active {
  font-size: 22px;
  color: darkblue;
}
}


// @media screen and (min-width: 768px) {
  
//   .board {
//     width: 500px;
//     height: 500px;
//     gap: 5px;
// }

// }
  
  
  