
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


main {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  background-color: teal;
}

img {
  height: 70px;
}

h1 {
  font-size: 20px;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 250px;
  height: 300px;
  background-color: black;
  gap: 5px;


  .cells {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: rgb(8, 88, 88);
    background-color: teal;
    font-size: 60px;
    font-family: "Permanent Marker", cursive;
    cursor: pointer;
  }
}

.scores {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding-top: 20px;
  width: 250px;

  .score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
}

.buttons {
 display: flex;
 gap: 5px;
 
  .restart-button {
    font-size: 15px;
    width: 120px;
    height: 40px;
    border: none;
    background-color: lightblue;
    // background-color: rgba(255, 166, 0, 0.89);
    color: black;
    font-size: 18px;
    cursor: pointer;
  }

  .restart-button:active {
    font-size: 22px;
    color: red;
  }

  .playAgain {
    font-size: 15px;
    width: 120px;
    height: 40px;
    border: none;
    background-color: lightblue;
    color: black;
    font-size: 18px;
    cursor: pointer;
  }

  .playAgain:active {
    font-size: 22px;
    color: darkblue;
  }
}


@media screen and (min-width: 768px) {

h1 {
  font-size: 22px;
}

img {
  height: 130px;
  width: 600px;
}  

.gameBoard {
  width: 320px;
  height: 380px;
  gap: 7px;

  .cells {
    font-size: 80px;
  }
}

.scores {
  font-size: 30px;
  width: 420px;

  .score {
    font-size: 50px;
  }
}

.buttons {
 gap: 20px; 

  .restart-button {
    font-size: 25px;
    width: 120px;
    height: 50px;
  }
  
  .playAgain {
    font-size: 25px;
    width: 150px;
    height: 50px;
  }
  }

}
  
  
  